In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = '''https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+
        pl_name,hostname,disc_year,discoverymethod,sy_dist,st_age+from+PSCompPars'''

response = requests.get(url)
response.status_code

200

In [3]:
content = response.content
parser = BeautifulSoup(content, 'html.parser')
table = parser.table
#table

In [4]:
headers = []
for i in table.find_all('field'):
    title = i.get('name')
    headers.append(title)
print(headers)
exoplanets = pd.DataFrame(columns=headers)
exoplanets

['pl_name', 'hostname', 'disc_year', 'discoverymethod', 'sy_dist', 'st_age']

Empty DataFrame
Columns: [pl_name, hostname, disc_year, discoverymethod, sy_dist, st_age]
Index: []

In [5]:
for row in table.find_all('tr'):
    cells = row.find_all('td')
    data = [td.text.strip() for td in cells]
    length = exoplanets.shape[0]
    exoplanets.loc[length] = data
    
exoplanets

,pl_name,hostname,disc_year,discoverymethod,sy_dist,st_age
0,OGLE-2016-BLG-1227L b,OGLE-2016-BLG-1227L,2020,Microlensing,,
1,GJ 480 b,GJ 480,2020,Radial Velocity,14.2358000,
2,Kepler-276 c,Kepler-276,2013,Transit,1144.8600000,0.400
3,Kepler-829 b,Kepler-829,2016,Transit,1073.7600000,4.680
4,K2-283 b,K2-283,2018,Transit,402.9150000,
...,...,...,...,...,...,...
4419,NGTS-16 b,NGTS-16,2021,Transit,898.1680000,10.290
4420,NGTS-15 b,NGTS-15,2021,Transit,786.4850000,3.280
4421,NGTS-17 b,NGTS-17,2021,Transit,1040.2800000,9.220
4422,LHS 1478 b,LHS 1478,2021,Transit,18.2276000,
4423,NGTS-18 b,NGTS-18,2021,Transit,1096.1900000,10.840

In [6]:
exoplanets.to_excel('exoplanets.xlsx', index=False)